/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add to your global CSS file */

/* .dropdown-menu {
  margin-top: 0;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
} */

/* Fonts */
:root {
  --font-inter: var(--font-inter);
  --font-raleway: var(--font-raleway);
  --font-poppins: var(--font-poppins);
  --font-lato: var(--font-lato);
  --font-nunito: var(--font-nunito);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --color-light-blue: #B3CBD8;
  --color-text-grey: #4A4A4A;
  --color-bg-grey: #F7F7F7;
  --color-link: #403429;
  --color-green: #DFF7EA;
  --color-sky-blue: #B5D5E3;
  --color-yellow: #D4B568;
}

/* Font Classes */
.font-raleway {
  font-family: var(--font-raleway) !important;
}

.font-poppins {
  font-family: var(--font-poppins) !important;
}

.font-lato {
  font-family: var(--font-lato) !important;
}

.font-inter {
  font-family: var(--font-inter) !important;
}

.font-nunito {
  font-family: var(--font-nunito) !important;
}

/* Font Weights */
.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

/* Navbar Styles */
.navbar-light .navbar-nav .nav-link {
  font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px !important;
}

/* .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link {
  border-bottom: 1px solid;
} */

/* Colors and Backgrounds */
.bg-light-blue {
  background: var(--color-light-blue) !important;
}
.bg-yellow {
  background: var(--color-yellow) !important;
}
.text-light-blue {
  color: var(--color-light-blue);
}
.text-sky-blue {
  color: var(--color-sky-blue);
}
.bg-sky-blue {
  background: var(--color-sky-blue);
}
.bg-green {
  background: var(--color-green);
}
.bg-sky-blue-gradient {
  background: linear-gradient(180deg, #B5D5E3 0%, #FFFFFF 100%);
}

/* Text Styles */
.text-justify {
  text-align: justify;
}
.ls-2 {
  letter-spacing: 2px !important;
}

/* Layout Elements */
.container-fluid, .container {
  max-width: 1440px !important;
}
.header-btn {
  padding: 10px 16px !important;
}
.gallery-img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.fav {
  position: absolute;
  width: 208px;
  height: 246px;
  object-fit: cover;
  bottom: -1px;
  left: auto;
  margin-left: -12px;
}

/* Grid Layout */
.box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
}

/* Card Styles */
.cards {
  border-radius: 20px;
}
.cards:hover {
  box-shadow: 0px 0px 6px 0px #999;
}
.cards .desc {
  width: 70%;
}
.nav-item{
  display: inline-block;
  position: relative;
  place-content: center;
}
.nav-item:hover .nav-link:before, .nav-link.active::before {
  transform: scaleX(1);
}
/* .nav-link:before {
  background-color: #000;
    bottom: 1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .25s;
    width: 100%;
    z-index: 999;
} */
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 1s ease;
  bottom: 0;
  left: 0;
}

.cards button {
  font-size: 14px;
}

.key {
  position: absolute;
  bottom: 15px;
  width: 100px;
  right: 20px;
}
/* .cards:nth-child(1) .key {
  filter: brightness(0.1);
} */
.cards .key {
  /* filter: brightness(0.1); */
  mix-blend-mode: multiply;
}

/* Banner and Background Images */
.contact-banner, .page-title {
  background-image: linear-gradient(90deg, rgb(0 0 0 / 68%), rgb(0 0 0 / 26%)), url('/images/home-contact-bg.png');
  background-position: center;
  background-size: cover;
}
.big-img {
  width: 100%;
  height: auto;
}

/* Footer Styles */
.bg-grey {
  background: var(--color-bg-grey);
}
.achievement {
  /* box-shadow: 0px 4px 4px 0px #00000040; */
  padding-bottom: 6rem;
}

.footer .desc, 
.footer .title, 
.copyright, 
.copyright-link {
  color: var(--color-text-grey);
}

.footer .link {
  color: var(--color-link);
  text-decoration: none;
}

.contact-btn {
  width: 228px;
  height: 56px;
}

/* Image Styles */
.img-corner-round {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.img-double {
  width: 275px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
}

.polkadot {
  width: 200px;
    height: 105px;
    background-image: radial-gradient(circle, #000 3px, #0000 0);
    background-size: 1.5rem 1.5rem;
    background-repeat: round;
}
.divider {
  border-bottom: 2px solid var(--color-light-blue);
}
.contact-form {
  width: 513px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-duration: 500ms;
}
.slide-left {
  animation: 2s linear slide-left;
}
@keyframes slide-left {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 25%;
  }
}
.icon {
  background: #D9D9D9;
  width: 70px;
  min-width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.social-icon {
  width: 30px;
  height: 30px;
}

/* Responsive Styles */
@media (min-width: 576px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .box {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-double {
    width: 325px;
    height: 390px;
  }
  .big-img {
    width: calc(100% - -55px) !important;
    margin-left: -25px;
    margin-top: -10px;
    height: 600px !important;
    object-fit: cover;
}
  /* .space {
    padding-top: 200px;
  } */
}

@media (max-width: 767px) {
  .contact-banner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .img-corner-round {
    width: 300px;
    height: 350px;
  }
  .img-double {
    width: 250px;
    height: 300px;
  }
}

@media (max-width: 1200px) {
  .key {
    right: 10px
  }
}

@media (min-width: 768px) {
  .w-md-75 {
    width: 75%;
  }
  .w-md-50 {
    width: 50%;
  }
  .fs-md-5 {
    font-size: 1.25rem!important;
  }
  .subtitle p {
    margin-bottom: 20px;
    line-height: 0.8;
}
  .bl {
    border-left: 5px solid #000;
    padding-left: 20px;
  }
  .top-img1, .top-img2 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .bottom-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .top-img1 {
    margin-top: -110px;
  }
  .top-img2 {
    margin-top: -150px;
  }
  .gallery-img {
    width: 270px;
    height: 300px;
  }
  .banner {
    height: 760px;
    overflow: hidden;
  }
  /* .contact-banner, .page-title {
    height: 438px;
  } */
}