/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add to your global CSS file */

/* .dropdown-menu {
  margin-top: 0;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
} */

/* Fonts */
:root {
  --font-inter: var(--font-inter);
  --font-raleway: var(--font-raleway);
  --font-poppins: var(--font-poppins);
  --font-lato: var(--font-lato);
  --font-nunito: var(--font-nunito);
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --color-grey: #B3CBD8;
  --color-text-grey: #4A4A4A;
  --color-link: #403429;
  --color-green: #DFF7EA;
}

/* Font Classes */
.font-raleway {
  font-family: var(--font-raleway) !important;
}

.font-poppins {
  font-family: var(--font-poppins) !important;
}

.font-lato {
  font-family: var(--font-lato) !important;
}

.font-inter {
  font-family: var(--font-inter) !important;
}

.font-nunito {
  font-family: var(--font-nunito) !important;
}

/* Font Weights */
.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

/* Navbar Styles */
.navbar-light .navbar-nav .nav-link {
  font-family: var(--font-raleway);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 15px;
}

.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link {
  border-bottom: 1px solid;
}

/* Colors and Backgrounds */
.bg-grey {
  background: var(--color-grey);
}

.text-grey {
  color: var(--color-grey);
}

.bg-green {
  background: var(--color-green);
}

/* Text Styles */
.text-justify {
  text-align: justify;
}

/* Layout Elements */
.fav {
  position: absolute;
  width: 200px;
  bottom: -3px;
}

/* Grid Layout */
.box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
}

/* Card Styles */
.cards {
  border-radius: 20px;
}

.cards .desc {
  width: 70%;
}

.cards button {
  font-size: 14px;
}

.key {
  position: absolute;
  bottom: 15px;
  width: 100px;
  right: 20px;
}

/* Banner and Background Images */
.contact-banner, .page-title {
  background-image: linear-gradient(90deg, rgb(0 0 0 / 68%), rgb(0 0 0 / 26%)), url('/images/home-contact-bg.jpg');
  background-position: center;
  background-size: cover;
}

/* Footer Styles */
.footer {
  background: #F7F7F7;
}

.footer .desc, 
.footer .title, 
.copyright, 
.copyright-link {
  color: var(--color-text-grey);
}

.footer .link {
  color: var(--color-link);
  text-decoration: none;
}

.footer .contact-btn {
  width: 17rem;
  padding: 12px 0px;
}

/* Image Styles */
.img-corner-round {
  width: 450px;
  height: 500px;
  object-fit: cover;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

/* Responsive Styles */
@media (min-width: 576px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .contact-banner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .img-corner-round {
    width: 300px;
    height: 350px;
  }
}

@media (max-width: 1200px) {
  .key {
    right: 10px
  }
}

@media (min-width: 768px) {
  .w-md-75 {
    width: 75%;
  }
  .w-md-50 {
    width: 50%;
  }
  .fs-md-5 {
    font-size: 1.25rem!important;
  }
}